
[data-slate-node=element].grid{
    [class^=col-span]{
        &:hover{
            outline: 1px solid rgb(209, 208, 253);
            outline-offset: -1px;
            z-index: 0;
        }
    }
}
.dark{
    [data-slate-node=element].grid{
        [class^=col-span]{
            &:hover{
                outline: 1px solid rgb(143, 143, 235);
                outline-offset: -1px;
                z-index: 0;
            }
        }
    }
}